<div id="auctionTemplate" style="display:none;">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="nft-items panel-body">
            <div class="nft-items-media">
                <a href="view-detail.html" class="number"><img src="~/nft/public/images/category/template/art_1.png" alt=""></a>
            </div>
            @*<div class="nft-items-authore clearfix">
                <div class="hot-bids-athore clearfix">
                    <a href="#" class="btn btn-lg" data-toggle="tooltip" data-placement="top" title="Collection : Onem"><img src="~/nft/public/images/user1.png" alt=""></a>
                   </div>
                <div class="nft-items-like">
                    <span><i class="far fa-heart"></i> 400</span>
                </div>
            </div>*@
            <div class="nft-items-info">
                <h3 class="theme-title"><a href="view-detail.html">Get Best Template Here</a></h3>
                <h4><text class="duration hide"></text> EndDate: <text id="EndDate">1/1</text> <a href="#" onclick="MyFunction(event)" class="">View Details</a></h4>
                <h4><text class="price-start"></text> CPAY <span>1/1</span></h4>
                <div class="nft-highest-bid"><a href="JavaScript:void(0)" class="view-auction">Place a bid (<text class="price-bid"></text> CPAY)</a></div>
                @*<div class="nft-views">
            <span><i class="far fa-eye"></i> 20</span>
        </div>*@
            </div>
        </div>
    </div>
    @*<div class="col-sm-6 col-md-4 col-lg-3">
        <div class="panel panel-default panel-number">
            <div class="panel-body">
                <div>
                    <div class="number"></div>
                </div>
                <table style="width:100%">
                    <tr>
                        <th>Starting price:</th>
                        <td class="price-start" align="right"></td>
                        <td class="unit" align="left">Ether</td>
                    </tr>

                    <tr>
                        <th>Bid price:</th>
                        <td class="price-bid" align="right">0 </td>
                        <td class="unit" align="left">Ether</td>
                    </tr>
                    <tr>
                        <th>Bidder :</th>
                        <td class="bidder-bid" align="right"> </td>
                        <td align="left">....</td>
                    </tr>
                    <tr>
                        <th>Duration:</th>
                        <td class="duration" align="right"></td>
                        <td class="unit" align="left">Min</td>
                    </tr>
                    <tr>
                        <th>EndDate:</th>
                        <td class="" align="right"><p id="EndDate"></p></td>
                        <td class="unit" align="left"></td>
                    </tr>
                </table>
                <div class="text-center" style="margin-top:25px;">
                    <button class="btn btn-sm btn-default view-auction"
                            type="button">
                        View details
                    </button>
                </div>
            </div>
        </div>
    </div>*@
</div>
