<section class="contact-area page-paddings">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section-title text-center">
                    <h2 data-watermark="Contact">Reach out to us</h2>
                    <div class="em_bar">
                        <div class="em_bar_bg"></div>
                    </div>
                    <p class="subtitle">If you have any trouble related to our website or any item kindly contact us from here.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-10 col-md-10 col-sm-12 col-12 offset-xl-2 offset-lg-1 offset-md-1">
                <div class="contact-box-main">
                    <form name="form1" id="form1" method="post" action="#">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="contact-box">
                                    <div class="nft-input-box validate-input" data-validate="Name is required">
                                        <span class="label-nft-input">First Name</span>
                                        <input class="nft-input" type="text" name="first_name" id="first_name" placeholder="">
                                        <span class="focus-nft-input"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="contact-box">
                                    <div class="nft-input-box validate-input" data-validate="Name is required">
                                        <span class="label-nft-input">Last Name</span>
                                        <input class="nft-input" type="text" name="last_name" id="last_name" placeholder="">
                                        <span class="focus-nft-input"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="contact-box">
                                    <div class="nft-input-box validate-input" data-validate="Name is required">
                                        <span class="label-nft-input">Email address</span>
                                        <input class="nft-input" type="email" name="email" id="email" placeholder="name@example.com" required="">
                                        <span class="focus-nft-input"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="contact-box">
                                    <div class="nft-input-box validate-input" data-validate="Name is required">
                                        <span class="label-nft-input">What are you contacting us about?</span>
                                        <select class="nft-input" name="contact_about" id="contact_about">
                                            <option>List my contract/store</option>
                                            <option>Technical Support</option>
                                            <option>Business Enquiry</option>
                                            <option>Media</option>
                                            <option>Pro Services</option>
                                            <option>Collaboration</option>
                                        </select>
                                        <span class="focus-nft-input"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="contact-box">
                                    <div class="nft-input-box validate-input" data-validate="Name is required">
                                        <span class="label-nft-input">Your message</span>
                                        <textarea class="nft-input" rows="4" required="" name="message" id="message"></textarea>
                                        <span class="focus-nft-input"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="contact-box text-left" style="margin-top: 25px;">
                                    <button class="theme-btn" type="button" id="submit-form">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>