<section class="faq-area page-paddings">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section-title text-center">
                    <h2 data-watermark="FAQ">Frequently Asked Questions</h2>
                    <div class="em_bar">
                        <div class="em_bar_bg"></div>
                    </div>
                    <p class="subtitle">We are offering a wide range of WordPress, HTML products and design resources that will come handy in your projects.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="faq-box-main">
                    <div class="faq-box">
                        <h3 class="theme-title"><i class="fas fa-arrow-right"></i> What is NFTLand - Marketplace?</h3>
                        <p class="theme-description">NFTLand - Marketplace is a platform to buy and sell digital items on the blockchain. This platform helps you to turn your content which can be as files, artwork, music, images, etc. Into digital items which exist on the blockchain. All These digital items exist on the blockchain using the smart contract which is easy to create through our platform. </p>
                        <p class="theme-description">You can create a store as per categories and list items. Browse and buy digital items that are listed for sale once you buy them it is directly disposed to you in your wallet. As a creator you sell your item on our platform, all you have to do is create a store and list your items and smart contract.</p>
                    </div>
                    <div class="faq-box">
                        <h3 class="theme-title"><i class="fas fa-arrow-right"></i> What does NFTs mean?</h3>
                        <p class="theme-description">NFTs are non-fungible tokens that exist on blockchain like any other cryptocurrencies; every digital item has its own tokenize value. A normal token can be exchanged for the same type of token equally without any difference non-fungible tokens are used to create verifiable digital scarcity. NFTs are used in several specific applications that require unique digital items. </p>
                        <p class="theme-description">Are NFTs – ERC-721 same: Ethereum community has adopted the ERC-721 protocol as a standard for Non-Fungible Tokens on Ethereum, there are other blockchains available and other formats that also contain non-fungible properties.</p>
                    </div>
                    <div class="faq-box">
                        <h3 class="theme-title"><i class="fas fa-arrow-right"></i> Ethereum wallet and how to get it?</h3>
                        <p class="theme-description">A wallet holds your cryptocurrency and digital items. Ethereum wallet simply means wallet which is used to receive & send Ethereum, to use our platform to create a store and listing items you need Ethereum wallet.</p>
                        <p class="theme-description">There are so many digital wallets app and websites available with different fee structures; you can choose which seems perfect and safe to you.</p>
                    </div>
                    <div class="faq-box">
                        <h3 class="theme-title"><i class="fas fa-arrow-right"></i> How to create an account?</h3>
                        <p class="theme-description">Open our website, click on create an account then fill in the basic details include your name, email id, and user name, once create connect your crypto wallet or create one if you don't have it.</p>
                    </div>
                    <div class="faq-box">
                        <h3 class="theme-title"><i class="fas fa-arrow-right"></i> Start creating items on the blockchain?</h3>
                        <p class="theme-description">Create or listing the item can be done in two ways, first by creating your digital store and second by just listing your items on our platform. But creating your store will help you increase your brand name.</p>
                    </div>
                    <div class="faq-box">
                        <h3 class="theme-title"><i class="fas fa-arrow-right"></i> How to create or list an item?</h3>
                        <p class="theme-description">To create items you need a store, or else you can use the platform to list your items, once your item is ready to list, all you have to do is log in to your account and fill in the basic detail to have a smart contract.</p>
                    </div>
                    <div class="faq-box">
                        <h3 class="theme-title"><i class="fas fa-arrow-right"></i> Can I sell items that are already in my wallet?</h3>
                        <p class="theme-description">To sell an item, you need to have it in your wallet, if the item is there and all you have to do is click on sell which the help of contract address and token id. But make sure you have complete right to do that, if you have purchased it, read the smart contract first.</p>
                    </div>
                    <div class="faq-box">
                        <h3 class="theme-title"><i class="fas fa-arrow-right"></i> What is NFT?</h3>
                        <p class="theme-description">An NFT is an advanced resource that addresses genuine articles like workmanship, music, in-game things, and recordings. They are purchased and sold on the web, habitually with digital currency, and they are for the most part encoded with similar basic programming as numerous cryptos.</p>
                    </div>
                    <div class="faq-box">
                        <h3 class="theme-title"><i class="fas fa-arrow-right"></i> Difference between NFTs & cryptocurrencies.</h3>
                        <p class="theme-description">An NFT is an advanced resource that addresses genuine articles like workmanship, music, in-game things, and recordings. They are purchased and sold on the web, habitually with digital currency, and they are for the most part encoded with similar basic programming as numerous cryptos.</p>
                    </div>
                    <div class="faq-box">
                        <h3 class="theme-title"><i class="fas fa-arrow-right"></i> What does NFTs mean to graphic designers?</h3>
                        <p class="theme-description">NFTs are an exceptionally fascinating idea still in their earliest stages. Even though they're as of now are pieces worth millions. It obviously can reform the whole business: how workmanship is created, exchanged, gathered, put away, and showed.</p>
                        <p class="theme-description">Craftsmen can be in full control of their creations. No requirement for specialists. As the workmanship is on the blockchain, the craftsmanship piece can't be taken or replicated, the cost and exchanges are additionally put away on the blockchain. No security gear or safes needed to protect a piece of workmanship.</p>
                        <p class="theme-description">They can be exchanged straightforwardly, shared, or sold on blockchain. No requirement for valuers or specialists, or salespeople. At present significant assortments are put away under security, and specifically atmosphere so as not to be harmed.</p>
                    </div>
                    <div class="faq-box">
                        <h3 class="theme-title"><i class="fas fa-arrow-right"></i> How would one build an NFTLand?</h3>
                        <p class="theme-description">Building an NFTLand is something that has gained strength nowadays, so there are very few NFTLands available which work perfectly and at the same time safe for anyone to use.</p>
                        <p class="theme-description">When we talk about building or making NFTLand website or even mobile application is easy but also hard, because many of the designers can just replicate it from the existing one but what makes it hard is to run it in a way that all the user of the portal should feel safe for their items which they are listing and it should work according to any blockchain network.</p>
                    </div>
                    <div class="faq-box">
                        <h3 class="theme-title"><i class="fas fa-arrow-right"></i> Is it possible to have an NFT store on your Website?</h3>
                        <p class="theme-description">Another worldview is arising in crypto art. Presently the crypto artists have the alternative to be completely decentralized.</p>
                        <p class="theme-description">The crypto artists can have their NFT contract and their store on their site. This is complete self-sufficiency that never existed in crypto art. Perhaps it's genuine decentralized craftsmanship.</p>
                        <p class="theme-description">All things considered, for the individuals who need to make their own NFT store on their site (made with WordPress), you should utilize these 3 modules:</p>
                        <p class="theme-description">Module to sell CPAY and ERC20 tokens: <b>https://ethereumico.io/item/cryptographic money WordPress-module/984</b> </p>
                        <p class="theme-description">Module to sell ERC721 tokens (it is an expansion to the past module): <b>https://ethereumico.io/item/erc721-wordpress-module/716</b></p>
                        <p class="theme-description">Module to sell NFTs utilizing crypto: https://ms.wordpress.org/modules/lithe money/1.1k</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>