<!-- proposals -->
<section class="proposals-area page-paddings">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section-title text-center">
                    <h2 data-watermark="Proposals">Mintable's NFT DAO</h2>
                    <p class="subtitle">It is a way to have complete community driven governance and participation from the users.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                <div class="proposals-box-main">
                    <div class="proposals-header">
                        <p class="theme-description">Number of proposals: <span>15</span></p>
                    </div>
                    <div class="proposals-box">
                        <div class="proposals-left">
                            <h3 class="theme-title"><a href="proposals_1.html">Proposal to share 2.5% fees with $MINT holders / 5005570 MINT</a></h3>
                            <p class="theme-description">M-1</p>
                            <p class="theme-description">By <span>0x6CDFFFF...5030F9</span></p>
                        </div>
                        <div class="proposals-right">
                            <span class="proposals-date"><i class="fas fa-calendar-alt"></i> 22 March 2020</span>
                            <span class="proposals-id">1609133815</span>
                        </div>
                    </div>
                    <div class="proposals-box">
                        <div class="proposals-left">
                            <h3 class="theme-title"><a href="proposals_1.html">Proposal to share 2.5% fees with $MINT holders / 5005570 MINT</a></h3>
                            <p class="theme-description">M-1</p>
                            <p class="theme-description">By <span>0x6CDFFFF...5030F9</span></p>
                        </div>
                        <div class="proposals-right">
                            <span class="proposals-date"><i class="fas fa-calendar-alt"></i> 22 March 2020</span>
                            <span class="proposals-id">1609133815</span>
                        </div>
                    </div>
                    <div class="proposals-box">
                        <div class="proposals-left">
                            <h3 class="theme-title"><a href="proposals_1.html">Proposal to share 2.5% fees with $MINT holders / 5005570 MINT</a></h3>
                            <p class="theme-description">M-1</p>
                            <p class="theme-description">By <span>0x6CDFFFF...5030F9</span></p>
                        </div>
                        <div class="proposals-right">
                            <span class="proposals-date"><i class="fas fa-calendar-alt"></i> 22 March 2020</span>
                            <span class="proposals-id">1609133815</span>
                        </div>
                    </div>
                    <div class="proposals-box">
                        <div class="proposals-left">
                            <h3 class="theme-title"><a href="proposals_1.html">Proposal to share 2.5% fees with $MINT holders / 5005570 MINT</a></h3>
                            <p class="theme-description">M-1</p>
                            <p class="theme-description">By <span>0x6CDFFFF...5030F9</span></p>
                        </div>
                        <div class="proposals-right">
                            <span class="proposals-date"><i class="fas fa-calendar-alt"></i> 22 March 2020</span>
                            <span class="proposals-id">1609133815</span>
                        </div>
                    </div>
                    <div class="proposals-box">
                        <div class="proposals-left">
                            <h3 class="theme-title"><a href="proposals_1.html">Proposal to share 2.5% fees with $MINT holders / 5005570 MINT</a></h3>
                            <p class="theme-description">M-1</p>
                            <p class="theme-description">By <span>0x6CDFFFF...5030F9</span></p>
                        </div>
                        <div class="proposals-right">
                            <span class="proposals-date"><i class="fas fa-calendar-alt"></i> 22 March 2020</span>
                            <span class="proposals-id">1609133815</span>
                        </div>
                    </div>
                </div>
                @*<div class="pagination-box text-center">
                    <ul class="clearfix">
                        <li class="current"><span>1</span></li>
                        <li><a href="index-2.html">2</a></li>
                        <li><a href="index-2.html">3</a></li>
                        <li><a href="index-2.html">Next <i class="fas fa-long-arrow-alt-right"></i></a></li>
                    </ul>
                </div>*@
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="proposals-sidebar">
                    <div class="proposals-sidebar-box text-center">
                        <p class="theme-description">Connect your wallet to see your MINTs and make a proposal</p>
                        <a href="#" class="theme-btn">Connect a wallet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- proposals -->