@*<section class="bradcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bradcrumb-main">
                    <div class="bradcrumb-title">
                        <h1>You've earned</h1>
                    </div>
                    <div class="bradcrumb-right clearfix">
                        <ul class="clearfix">
                            <li><a href="index-2.html">Home</a></li>
                            <li>Vote</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- bradcrumb -->
<!-- nft dao -->
<section class="nft-dao-area page-paddings">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section-title text-center">
                    <span>NFT / DAO</span>
                    <h2 data-watermark="NFT/DAO">What is a NFT/DAO?</h2>
                    <div class="em_bar">
                        <div class="em_bar_bg"></div>
                    </div>
                    <p class="subtitle">NFT DAO is completely community and participants as a user on the platform-driven governance, using ERC-721 non-fungible tokens (NFTs). This gives great benefits to the marketplace that you control.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="nft-dao-box text-center clearfix">
                    <div class="nft-dao-icon">
                        <img src="~/nft/public/images/nft/nft_governance.png" alt="NFT-Governance-image">
                    </div>
                    <div class="nft-dao-img">
                        <img src="~/nft/public/images/wk1.png" alt="">
                    </div>
                    <div class="nft-dao-info">
                        <h3 class="theme-title">Upgrade platform by voting</h3>
                        <p class="theme-description">By voting, you can increase the value of the platform and the marketplace. Every time you voting in support you upgrade the platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="nft-dao-box text-center clearfix">
                    <div class="nft-dao-icon">
                        <img src="~/nft/public/images/nft/super_nft.png" alt="Super-NFT-image">
                    </div>
                    <div class="nft-dao-img">
                        <img src="~/nft/public/images/wk1.png" alt="">
                    </div>
                    <div class="nft-dao-info">
                        <h3 class="theme-title">Super NFTs for featured artist</h3>
                        <p class="theme-description">Now vote on who should be in the list of super NFTs, so trading those items gives double the votes.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="nft-dao-box text-center clearfix">
                    <div class="nft-dao-icon">
                        <img src="~/nft/public/images/nft/you_control.png" alt="">
                    </div>
                    <div class="nft-dao-img">
                        <img src="~/nft/public/images/wk1.png" alt="">
                    </div>
                    <div class="nft-dao-info">
                        <h3 class="theme-title">Have 100% control on the platform</h3>
                        <p class="theme-description">Now you have 100% control over fees, smart contract. All you have to do is a vote to propose the changes you want.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="nft-dao-box text-center clearfix">
                    <div class="nft-dao-icon">
                        <img src="~/nft/public/images/nft/yield_farming.png" alt="">
                    </div>
                    <div class="nft-dao-img">
                        <img src="~/nft/public/images/wk1.png" alt="">
                    </div>
                    <div class="nft-dao-info">
                        <h3 class="theme-title">Yield farming as a top user</h3>
                        <p class="theme-description">Through activities on NFTLand - Marketplace now you can earn votes, just by putting the top users in control.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="nft-dao-box text-center clearfix">
                    <div class="nft-dao-icon">
                        <img src="~/nft/public/images/nft/no_bad.png" alt="">
                    </div>
                    <div class="nft-dao-img">
                        <img src="~/nft/public/images/wk1.png" alt="">
                    </div>
                    <div class="nft-dao-info">
                        <h3 class="theme-title">No manipulation of the market</h3>
                        <p class="theme-description">Pure participation from holders, having a sustainable ecosystem for a DAO, one NFT at a time, creates a perfect market with no manipulation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- nft dao -->
<!-- earn area -->
<section class="earn-area top-space-padding page-background">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="earn-main-box">
                    <div class="earn-info">
                        <h2>Join our marketplace governed by NFTs</h2>
                        <div class="em_bar">
                            <div class="em_bar_bg"></div>
                        </div>
                        <p class="theme-description">NFTLand - Marketplace is community-driven, decentralized, and flexible. NFTs will be used on NFTLand - Marketplace DAO, Instead of voting with the highly volatile ERC20 tokens. Every user will own a voting NFT (Token) that contains their voting power on it. Each NFT is unique and each NFT is given to anyone when they buy/sell an NFT on our marketplace or via buying.</p>
                        <div class="earn-btn">
                            <a href="#buy-votes" class="theme-btn mints-btn">Buy</a>
                            <a href="/auction/proposals" class="theme-btn">Vote</a>
                        </div>
                    </div>
                    <div class="earn-images">
                        <div class="earn-inner-images">
                            <img src="~/nft/public/images/marketplace-governed/main-banner.png" alt="">
                            <div class="earn-inner-img">
                                <div class="earn-img-item">
                                    <img src="~/nft/public/images/marketplace-governed/item1.png" alt="">
                                </div>
                                <div class="earn-img-item earn-img-item-one">
                                    <img src="~/nft/public/images/marketplace-governed/item2.png" alt="">
                                </div>
                                <div class="earn-img-down">
                                    <div class="earn-img-down-box">
                                        <img src="~/nft/public/images/marketplace-governed/item3.png" alt="">
                                    </div>
                                    <div class="earn-img-down-box">
                                        <img src="~/nft/public/images/marketplace-governed/item4.png" alt="">
                                    </div>
                                    <div class="earn-img-down-box">
                                        <img src="~/nft/public/images/marketplace-governed/item5.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="earn-vote-responsive-img">
                            <img src="~/nft/public/images/vote-img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- earn area -->
<!-- buy votes -->
<section class="buy-votes-area page-paddings" id="buy-votes">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section-title text-center">
                    <h2 data-watermark="Vote">Buy Votes</h2>
                    <div class="em_bar">
                        <div class="em_bar_bg"></div>
                    </div>
                    <p class="subtitle">Now you can buy votes, via crypto wallet and use them to make the marketplace strong.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="buy-vote-box">
                    <form>
                        <div class="buy-vote-form clearfix">
                            <div class="nft-input-box validate-input" data-validate="Name is required">
                                <span class="label-nft-input">Enter amount in CPAY</span>
                                <input class="nft-input" type="text" name="name" placeholder="0.00 Ξ">
                                <span class="focus-nft-input"></span>
                            </div>
                            <div class="nft-input-box validate-input" data-validate="Name is required">
                                <span class="label-nft-input">Votes</span>
                                <input class="nft-input" type="text" name="name" placeholder="0 Votes">
                                <span class="focus-nft-input"></span>
                            </div>
                        </div>
                        <div class="buy-vote-terms">
                            <div class="buy-vote-checkbox">
                                <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                                <label for="styled-checkbox-1"><span>I have read and understand the legal disclaimer for MINT and I'm not an American, Singaporean, or North Korean.</span></label>
                            </div>
                        </div>
                        <div class="buy-vote-btn">
                            <button class="theme-btn" disabled>Connect a wallet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- buy votes -->