<div class="user-panel-breadcrumb">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="user-panel-breadcrumb-left">
                <h1>My Reviews</h1>
            </div>
        </div>
        
    </div>
</div>
<div class="user-store-area">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="user-ratting-select clearfix">
                <div class="theme-input-box">
                    <label>Search by rating</label>
                    <select class="theme-input">
                        <option>All</option>
                        <option>5 Star</option>
                        <option>4 Star</option>
                        <option>3 Star</option>
                        <option>2 Star</option>
                        <option>1 Star</option>
                    </select>
                </div>
            </div>
            <div class="user-review-list-box">
                <div class="user-review-list">
                    <div class="user-review-authore">
                        <img src="public/images/category/game/art_6.gif" alt="">
                        <div class="review-authore-detail">
                            <h3 class="user-theme-title">Amazing Oil Painting Of Man In Grey Hat</h3>
                            <h4>Scott Mescudi</h4>
                            <p class="theme-description">I planned to buy a NFT and couldn't find a suitable marketplace, but fortunately learned about this website and found great NFTs.</p>
                        </div>
                        <div class="reviews-box">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i> <span>(3 Days ago)</span>
                        </div>
                    </div>
                    <div class="user-review-bottom">
                        <h3 class="theme-title">By - <span>Nina Holloway</span></h3>
                    </div>
                </div>
                <div class="user-review-list">
                    <div class="user-review-authore">
                        <img src="public/images/category/game/art_1.png" alt="">
                        <div class="review-authore-detail">
                            <h3 class="user-theme-title">Amazing Oil Painting Of Man In Grey Hat</h3>
                            <h4>Syed Uddin</h4>
                            <p class="theme-description">It has been a pleasure that I acquired a lot of NFT from this marketplace, all of the digital assets are really great and amazing.</p>
                        </div>
                        <div class="reviews-box">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i> <span>(3 Days ago)</span>
                        </div>
                    </div>
                    <div class="user-review-bottom">
                        <h3 class="theme-title">By - <span>Nina Holloway</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>