<div class="user-panel-breadcrumb">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="user-panel-breadcrumb-left">
                <h1>Won Auctions</h1>
            </div>
        </div>
        
    </div>
</div>
<div class="user-store-area">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="theme-input-box search-auction">
                <input class="theme-input" type="text" name="search" placeholder="Search for an item">
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="user-no-record-found">
                <div class="user-no-record-icon">
                    <i class="fas fa-store-alt"></i>
                </div>
                <h3 class="user-title">You have not bid on any auctions yet!</h3>
                <p class="theme-description">Go check out all new and great items on our marketplace, and start bidding. Once you make any purchase you can download it.</p>
                <div class="user-btn">
                    <a href="browse.html" class="theme-btn">Browse</a>
                </div>
            </div>
        </div>
    </div>
</div>