<div class="user-panel-breadcrumb">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="user-panel-breadcrumb-left">
                <h1>My List</h1>
            </div>
        </div>
        
    </div>
</div>
<div class="user-store-area">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="nft-filter">
                <ul id="myTabs" class="nav nav-pills nav-justified" role="tablist" data-tabs="tabs">
                    <li><a class="active" href="/home/CurrentItemList" ajax-target="#list-sale1">Current Item List</a></li>
                    <li><a href="/home/SoldItemList" ajax-target="#list-sale1">Sold Item List</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="list-sale1">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="user-no-record-found order-no-record">
                        <div class="user-no-record-img">
                            <img src="public/images/no-orders.png" alt="">
                        </div>
                        <h3 class="user-title">You have not bought any items</h3>
                        <p class="theme-description">Go check out the marketplace and buy some cool items! Once you buy one you can download it's content here</p>
                        <div class="user-btn">
                            <a href="gasless.html" class="theme-btn">List An Item</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>