<div class="app">
    <div class="header">
        <div class="search-bar">
            <input type="text" placeholder="Search your conversations" />
        </div>
        <div class="header-user">
            <div class="msg online">
                <img class="msg-profile" src="public/images/user2.png" alt="">
                <div class="msg-detail">
                    <div class="msg-username">Madison Jones</div>
                    <div class="msg-content">
                        <span class="msg-message">What time was our meet</span>
                        <span class="msg-date">20m</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="conversation-area">
            <div class="msg online active">
                <img class="msg-profile" src="public/images/user2.png" alt="" />
                <div class="msg-detail">
                    <div class="msg-username">Madison Jones</div>
                    <div class="msg-content">
                        <span class="msg-message">What time was our meet</span>
                        <span class="msg-date">20m</span>
                    </div>
                </div>
            </div>
            <div class="msg">
                <img class="msg-profile" src="public/images/user3.png" alt="" />
                <div class="msg-detail">
                    <div class="msg-username">Miguel Cohen</div>
                    <div class="msg-content">
                        <span class="msg-message">Adaptogen taiyaki austin jean shorts brunch</span>
                        <span class="msg-date">20m</span>
                    </div>
                </div>
            </div>
            <div class="msg online">
                <img class="msg-profile" src="public/images/user4.png" alt="" />
                <div class="msg-detail">
                    <div class="msg-username">Lea Debere</div>
                    <div class="msg-content">
                        <span class="msg-message">Shoreditch iPhone jianbing</span>
                        <span class="msg-date">45m</span>
                    </div>
                </div>
            </div>
            <div class="msg online">
                <img class="msg-profile" src="public/images/user5.png" alt="" />
                <div class="msg-detail">
                    <div class="msg-username">Jordan Smith</div>
                    <div class="msg-content">
                        <span class="msg-message">Snackwave craft beer raclette, beard kombucha </span>
                        <span class="msg-date">2h</span>
                    </div>
                </div>
            </div>
            <div class="msg">
                <img class="msg-profile" src="public/images/user6.png" alt="" />
                <div class="msg-detail">
                    <div class="msg-username">Jared Jackson</div>
                    <div class="msg-content">
                        <span class="msg-message">Tattooed brooklyn typewriter gastropub</span>
                        <span class="msg-date">18m</span>
                    </div>
                </div>
            </div>
            <div class="msg online">
                <img class="msg-profile" src="public/images/user7.png" alt="">
                <div class="msg-detail">
                    <div class="msg-username">Henry Clark</div>
                    <div class="msg-content">
                        <span class="msg-message">Ethical typewriter williamsburg lo-fi street art</span>
                        <span class="msg-date">2h</span>
                    </div>
                </div>
            </div>
            <div class="msg">
                <img class="msg-profile" src="public/images/user8.png" alt="" />
                <div class="msg-detail">
                    <div class="msg-username">Jason Mraz</div>
                    <div class="msg-content">
                        <span class="msg-message">I'm lucky I'm in love with my best friend</span>
                        <span class="msg-date">4h</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-area">
            <div class="chat-area-main">
                <div class="chat-msg owner">
                    <div class="chat-msg-profile">
                        <img class="chat-msg-img" src="public/images/image.jpg" alt="" />
                        <div class="chat-msg-date"><span>@@Stefan Harary, </span> 1.22pm</div>
                    </div>
                    <div class="chat-msg-content">
                        <div class="chat-msg-text">Cras mollis nec arcu malesuada tincidunt.</div>
                    </div>
                </div>
                <div class="chat-msg">
                    <div class="chat-msg-profile">
                        <img class="chat-msg-img" src="../../s3-us-west-2.amazonaws.com/s.cdpn.io/3364143/download%2b(12).png" alt="" />
                        <div class="chat-msg-date"><span>@@Madison Jones, </span> 1.22pm</div>
                    </div>
                    <div class="chat-msg-content">
                        <div class="chat-msg-text">Egestas tellus rutrum tellus pellentesque</div>
                    </div>
                </div>
                <div class="chat-msg">
                    <div class="chat-msg-profile">
                        <img class="chat-msg-img account-profile" src="public/images/user2.png" alt="">
                        <div class="chat-msg-date"><span>@@Madison Jones, </span> 1.22pm</div>
                    </div>
                    <div class="chat-msg-content">
                        <div class="chat-msg-text">Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et.</div>
                    </div>
                </div>
                <div class="chat-msg owner">
                    <div class="chat-msg-profile">
                        <img class="chat-msg-img" src="public/images/image.jpg" alt="" />
                        <div class="chat-msg-date"><span>@@Stefan Harary, </span> 1.22pm</div>
                    </div>
                    <div class="chat-msg-content">
                        <div class="chat-msg-text">Tincidunt arcu non sodales</div>
                    </div>
                </div>
                <div class="chat-msg">
                    <div class="chat-msg-profile">
                        <img class="chat-msg-img" src="public/images/user2.png" alt="">
                        <div class="chat-msg-date"><span>@@Madison Jones, </span> 1.22pm</div>
                    </div>
                    <div class="chat-msg-content">
                        <div class="chat-msg-text">Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et</div>
                    </div>
                </div>
            </div>
            <div class="chat-area-footer">
                <input type="text" placeholder="Type something here..." />
                <button class="chat-btn"><i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</div>